.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.zeroPaddingBottom {
  padding-left: 10px !important;
  padding-right: 5px !important;
  padding-bottom: 0px !important;
}

.zeroPaddingTop {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 0px !important;
}

.purpleBg {
  background-color: #6625b8 !important;

}

.card-subCustom {
  color: black !important;
  font-size: 10px;
  
}

.fontPlus {
  font-size: 20px;
}

.fadeIn {
animation-name: fadeIn;
animation-duration: 4s;
}