<style>
  .zeroPaddingBottom {
    padding-left: 10px !important;
    padding-right: 5px !important;
    padding-bottom: 0px !important;
  }

  .zeroPaddingTop {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 0px !important;
  }

  .card-purple {
    background-color: #6625b8 !important;
  }

  .card-subCustom {
    color: black !important;
    font-size: 12px;
  }

  .fontPlus {
    font-size: 20px;
  }
</style>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Riepilogo Conti
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-card class="card-cover card-purple" *ngFor="let fondo of fondiMap">
      <ion-card-content class="zeroPaddingBottom">
        <p class="fontPlus">Fondo {{fondo.nomeFondo}} : {{fondo.saldo}} €</p>
      </ion-card-content>
      <ion-card-header class="zeroPaddingTop">
        <ion-card-subtitle class="card-cover-subtitle card-subCustom">Sigla : {{fondo.siglaFondo}} | Last Operation :
          {{fondo.lastOperation}}</ion-card-subtitle>
      </ion-card-header>

    </ion-card>
  </ion-list>
  <!-- fab placed in the center of the content with a list on each side -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <span style="font-size: 38px"> + </span>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="dark" (click)="addDebito()">D</ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="dark" (click)="addAccredito()">A</ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>